<!--Sidebar Start-->
<aside class="sidebar" data-trigger="scrollbar">

    <!-- Sidebar Navigation Start -->
    <div class="sidebar--nav">
        <ul>
            <li>
                <ul>
                    <li class="active">
                        <a href="/">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">TIM</a>
                <ul>
                    <li class="open">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            <span>Daftar Tim</span>
                        </a>

                        <ul>
                            <li><a href="/team/all">Semua Tim</a></li>
                            <li><a href="/team/active">Tim Aktif</a></li>
                            <li><a href="/team/non-active">Tim Non-aktif</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Sidebar Navigation End -->

</aside>
<!-- Sidebar End -->
