<!--Sidebar Start-->
<aside class="sidebar" data-trigger="scrollbar">

    <!-- Sidebar Navigation Start -->
    <div class="sidebar--nav">
        <ul>
            <li>
                <ul>
                    <li class="<%- isActive === 'home-page' ? 'active' : ''; %>">
                        <a href="/">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">TIM</a>
                <ul>
                    <li class="open">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            <span>Daftar Tim</span>
                        </a>

                        <ul>
                            <li class='<%- isActive === 'all-team' ? 'active' : ''; %>'><a href="/team">Semua Tim</a>
                            </li>
                            <li class='<%- isActive === 'active-team' ? 'active' : ''; %>'><a
                                        href="/team?status=active">Tim
                                    Aktif</a></li>
                            <li class='<%- isActive === 'inactive-team' ? 'active' : ''; %>'><a
                                        href="/team?status=inactive">Tim
                                    Non-aktif</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Sidebar Navigation End -->

</aside>
<!-- Sidebar End -->
